/*body { background:#f8f8f8 url(images/logo-2.jpg) top center no-repeat; padding-top:120px; background-size:contain; }*/
@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
h1, h2, h3, h4, h5, h6, a {
	font-family: "Droid Arabic Kufi", tahoma;
	font-weight: 700
}
h1 {
	font-size: xx-large;
}
h2 {
	font-size: large
}
h3 {
	font-size: medium
}
h4 {
	font-size: medium
}
h5 {
	font-size: small
}
h6 {
	font-size: smaller
}
p {
	font-family: "Droid Arabic Naskh", tahoma;
	font-size: small
}
/*body {
	background: #f8f8f8;
}*/

/* RTL JQUERY MOBILE  */

.ui-btn-icon-right:after {
    left: .5625em !important;
		right:auto;
}

.ui-btn-icon-right {
	padding-left: 2.5em;
	padding-right: 1.5em;
}

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after { width: 48px; height: 48px;}

.ui-page-theme-a .ui-btn { background-color: transparent; border:none;text-shadow: none;
    box-shadow: none; border-radius: 0;}

		.ui-icon-bars:after { background-position: center; background-size: 30px;
    /*background-size: 24px 24px;*/
}
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
	-webkit-border-radius: 0em;
    border-radius: 0em;
}


.ui-page-theme-a .ui-btn:active , .ui-page-theme-a .ui-btn:hover  { background-color: inherit; border: none; box-shadow: none;
    color: inherit;
    text-shadow: none;}
.ui-btn-icon-notext:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after {
    left: 3% !important;
    margin-left: -3px !important;
}

.ui-btn-icon-notext:after, .ui-btn-icon-left:after, .ui-btn-icon-right:after {
    top: 27% !important;
    margin-top: -11px !important;
}

.header .ui-btn { width: 48px !important; height: 48px !important;}



/*---End of rtl jquery mobile ---*/
table, th, td {
	border: 1px solid black;
}

body , #main_page , .ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper { /*background:#523905 !important;  background-color:#523905 !important;*/}

.cars_list { display:block;
    overflow: hidden; }

	.cars_list , .about { margin-bottom: 30%; }

.madad_body {
}

.header { /*position:fixed; top:0; right:0; z-index:99; background-color: #ffffff; opacity: 0.9;
	width: 100%;*/
	background-color: #FFBD54 !important;
    /*max-height: 20%;
    overflow: hidden;*/
	 }

	 #menu { background-color: #96641d; direction: rtl; text-align: right; opacity: 0.95;position: fixed;
    height: 100vh;}

	 	 #menu .ui-panel-inner-top-HG {background: #7b4f10 url('../../images/logo.png') center center no-repeat;
		 background-size: contain;
    text-shadow: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25vh;}

		  #menu .ui-panel-inner h3 { color: #ffffff; margin-bottom: 2em}
#menu .ui-listview { margin-top:22vh; }
			#menu .ui-listview li a { text-align: right; color:#ffffff; line-height: 200%; font-family: "Droid Arabic Kufi",tahoma; font-weight: 400}
			#menu .ui-listview li a:active { color:#da8e0b; }

.header .bars_icon { margin-top: 14px;}

.logo {      max-width: 25%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.post_area { background-color: #ffffff; border-radius:0px; padding: 10px; margin-bottom: 0px; width: 50%; height: 270px; overflow: hidden; border-bottom: 1px solid #f0f0f0;}
.post_area:nth-child(odd) { border-left:1px solid #f0f0f0 }
.post_area .p_content { line-height: 230%;}
.post_area  img {width: 100%; height: 130px; border-bottom: 1px solid #f0f0f0;
    }
.post_area a {  text-decoration: none; overflow: hidden; display: block;}
.post_area h2 { font-size:16px; text-decoration: none; color:#555555;
line-height: 150%;
    padding-top: 5px;}
.post_area span { font-size:12px; color:#999999; font-weight: 400;}

.posts { padding: 1% 1% 10px 1%; /*background-color: #523905;*/}
.hr {
	margin-bottom: 15px;
	display: block;
	overflow: hidden;
	width: 100%;
	clear: both
}
.madad_body {
	margin-top: 40px;
}
.no-padding {
	padding-left: 0;
	padding-right: 0
}
.toggle {
	z-index: 9999999999999999999;
	cursor: pointer;
}
#sidebar {
	z-index: 9999999999999999999;
	overflow: hidden;
	background: #FC0;/*background: -moz-linear-gradient(left, #f9f9f9 0%, #ededed 100%);
background: -webkit-linear-gradient(left, #f9f9f9 0%,#ededed 100%);
background: linear-gradient(to right, #f9f9f9 0%,#ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ededed',GradientType=1 );*/}
#sidebar ul {
	list-style: none;
	margin-top: 30px;
}
#sidebar ul li a {
	display: block;
	font-weight: bold;
	font-size: medium;
	color: #111111;
	font-family: "Droid Arabic Kufi", tahoma;
	padding: 25px 5%;
	border-bottom: #954A00 1px solid
}

.home-icons { position:fixed; bottom:0; left:0; background:#f4f4f4; width:100%; z-index:99; border-top:1px solid #c5c5c5;  }
.home-icons a:last-child { border-left:none }
.home-icons a span {
	text-align: center;
}



.home-icons a i {
	width:100%;
	display: block;
    padding: 0;
    color: #888888;
    margin: 8px 0;
    font-size: 36px;
}
.home-icons a p {
	display: block;
		width:100%;
	padding: 5px 0;
	color: #888888;
	font-size: small;
	white-space: nowrap;
	font-weight: 400;
	font-family: "Droid Arabic Kufi", tahoma;
	text-align:center;
}

label { font-weight:400 }

.home-icons a.active i { color:#FC0; }
.home-icons a.active i , .home-icons a.active p { color:#75ad2b }

.home-icons a:active {  background:#FC0; }
.home-icons a:active i , .home-icons a:active p { color:#000000 }


.car-item {
/*background: #f9f9f9;
background: -moz-linear-gradient(top, #f9f9f9 0%, #ededed 100%);
background: -webkit-linear-gradient(top, #f9f9f9 0%,#ededed 100%);
background: linear-gradient(to bottom, #f9f9f9 0%,#ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ededed',GradientType=0 );
border-bottom:1px dashed #999;*/
padding:20px;
}

iframe { background:#f0f0f0 }

 .about { margin-top:20%; overflow: hidden; }
.about h4 { font-size: large }
.about p { font-size: medium; line-height:165%;}
.car-item ul { list-style:none }
.car-item li { font-size: 18px; padding-top:10px; padding-bottom:10px; }
.car-item h3 { font-size: large }
.btn { font-size:large ; font-family:"Droid Arabic Kufi",tahoma; border-radius:0}

form label { font-size: medium; font-family:"Droid Arabic Kufi",tahoma;  padding-top:20px; padding-bottom:20px; margin-bottom:10px; }

.form-control {    border-radius: 25px;
    background: #f7f7f7;
    font-size: medium;
	/*padding:10px;*/
    font-family: "Droid Arabic Kufi",tahoma;
    height: auto;
	margin-bottom: 10px;
width: 100%;}


iframe  {  background:#CCC url(../images/ellipsis.gif) center center no-repeat;}
.contact h2 { font-size: 14px;white-space: nowrap;}
.contact h3 { font-size: 12px; font-weight: normal; white-space: nowrap;}
.map_me { display:block; margin-top:15px; width:100%; padding:10px 5px; font-size: 12px; text-align:center; font-weight:700; background:#090; color:#ffffff; }
.map_me:active { background:#FC0; text-decoration:none }

.map_me i { margin-left:6px; }
.post_content { background:#ffffff !important; overflow:hidden; }
.post_content img {max-width: 100%; height:auto;
    margin: 5px 0%;}


.ui-overlay-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.preloader { position:fixed; left:0; top:0; width:100%; height:100%; background:#ffffff; z-index:999999 }


.close_post { position:absolute; left:5px; top:5px; z-index:99; }